* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif ;
}

body{
    background-color: darkorange;

}
.card {
    border: 1px solid white;
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;

}

.outside,
.inside {
  border: 1px solid black;
  height: 100%;
  width: 50%;
  position: absolute;

}
 .inside{
    left: 50.1%;
 }
 .outside {
 }
 .font,
 .back{
 height: 100%;
 width: 100%;
 position: absolute;
 backface-visibility: hidden;
 transform: rotate(0deg);
 background-color: #ffffff;
 }
 .font {
    background-color: #ffffff;
 }
 .back{
    transform: rotateY(180degl);
    background-color:linear-gradient(to left,cyan,
     #ffffff 30%);

 }

  .cake{
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .top-layer{
    height: 80px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px
    ),
    
    radial-gradient(circle at 30px 5px,red
    30px darkorange 31px );
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
  }